.box{
    height: 200px;
    margin-top: 20px;
}
.box1{
    background-color: rebeccapurple;
}
.box2{
    background-color: rgb(199, 158, 70);
}
.box3{
    background-color: rgb(44, 139, 84);
}

.box4{
    background-color: rgb(153, 88, 51);
}
.box5{
    background-color: rgb(153, 51, 153);
}

.box6{
    background-color: rgb(51, 153, 144);
}
.box7{
    background-color: rgb(153, 51, 102);
}
.box8{
    background-color: rgb(122, 153, 51);
}
.box9{
    background-color: rgb(32, 32, 32);
}
.box10{
    background-color: rgb(131, 153, 51);
}
.box11{
    background-color: rebeccapurple;
}


